<div class="w-screen">
    <div class="grid grid-cols-10">
      <div class="border-b border-gray-300 col-span-1 bg-blue-600 text-white font-bold text-left p-2">
        ID de penalización
      </div>
      <div class="border-b border-gray-300 col-span-1 bg-blue-600 text-white font-bold text-left p-2">
        Rol
      </div>
      <div class="border-b border-gray-300 col-span-2 bg-blue-600 text-white font-bold text-left p-2">
        Alumnos
      </div>
      <div class="border-b border-gray-300 col-span-2 bg-blue-600 text-white font-bold text-left p-2">
        Inicio de penalización
      </div>
      <div class="border-b border-gray-300 col-span-2 bg-blue-600 text-white font-bold text-left p-2">
        Fin de penalización
      </div>
      <div class="border-b border-gray-300 col-span-2 bg-blue-600 text-white font-bold text-left p-2">
        Tiempo total de penalización
      </div>
  
      <!-- Todas las filas -->
      <div class="fila grid grid-cols-10 col-span-10">
        <div class="border-b border-gray-300 border-blue-700 col-span-1 p-2">
          <p>1</p>
        </div>
        <div class="border-b border-gray-300 border-blue-700 col-span-1 p-2">
          <p>2</p>
        </div>
        <div class="border-b border-gray-300 border-blue-700 col-span-2 p-2">
          <p>3</p>
        </div>
        <div class="border-b border-gray-300 border-blue-700 col-span-2 p-2">
          <p>4</p>
        </div>
        <div class="border-b border-gray-300 border-blue-700 col-span-2 p-2">
          <p>5</p>
        </div>
        <div class="border-b border-gray-300 border-blue-700 col-span-2 p-2">
          <p>6</p>
        </div>
      </div>
  
    </div>
  </div>
  